<p>こんにちわ <%= @email %>さん!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレス：<%= @resource.unconfirmed_email %>の変更が完了しました。</p>
<% else %>
  <p>メールアドレス：<%= @resource.email %>の変更が完了しました。</p>
<% end %>
