<p>こんにちわ <%= @resource.email %>さん!</p>

<p>パスワードを変更する変更するためのリンクがリクエストされました。下記のリンクからパスワードの変更を行ってください。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>リクエストをしていない場合はこのメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいリンクを作成するまで、パスワードは変更されません。</p>
