<p>こんにちわ <%= @resource.email %>さん!</p>

<p>ログインに失敗した回数が多すぎたため、アカウントがロックされています。</p>

<p>下記のリンクからアカウントのロックを解除してください。</p>

<p><%= link_to 'アカウントのロックを解除', unlock_url(@resource, unlock_token: @token) %></p>
